* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

body {
  background: #1a1a1a !important;
  font-weight: 400;
  width: 100%;
  color: white;
}

.button {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 10px;
  margin: 0 5px;
  border-radius: 0;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.header {
  width: 100%;
}
.header-top {
  background: #333;
  height: 80px;
}
.header-nav {
  background: #2d2d2d;
  height: 55px;
}

.filmHot {
  position: relative;
}
.filmHot-image img {
  width: 180px;
  height: 227px;
  background-position-y: 50px;
}
.filmHot-name {
  position: absolute;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  z-index: 1;
  color: white;
  bottom: 0;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
}
.filmHot-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
}

.slick-prev,
.slick-next {
  position: absolute;
  font-size: 80px;
  color: white;
  z-index: 1;
  transform: translate(0px, 50%);
  background: rgba(0, 0, 0, 0.2);
}

.slick-next {
  top: 0;
  right: 35px;
}

.film-main-container {
  display: grid;
  grid-template-columns: 850px 280px;
  gap: 0 10px;
}
.film-main .filmUpdate .film-item {
  position: relative;
}
.film-main .filmUpdate .film-item img {
  width: 160px;
  height: 227px;
}
.film-main .filmUpdate .film-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px) 20%;
  gap: 15px 0;
}
.film-main .filmUpdate-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
}
.film-main .filmUpdate-name {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  z-index: 1;
  color: white;
  bottom: -8px;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 13px;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
.film-main .filmTrend-item {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}
.film-main .filmTrend-infor {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.film-main .filmTrend-image img {
  width: 75px;
  height: 87px;
}
.film-main .filmTrend-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
}
.film-main .filmTrend-name {
  color: white;
  font-size: 13px;
}
.film-main .filmTrend-tv, .film-main .filmTrend-movie {
  color: white;
  font-size: 12px;
  width: 80px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.5);
}
.film-main .filmTrend-tv {
  background: rgba(0, 128, 0, 0.5);
}
.film-main .filmTrend-popularity, .film-main .filmTrend-vote {
  color: white;
  font-size: 12px;
  font-weight: 200;
}

.film-main-details-container {
  display: grid;
  grid-template-columns: 850px 280px;
  gap: 0 10px;
  position: relative;
}

.filmDetail-container {
  display: flex;
  position: relative;
  gap: 25px;
}
.filmDetail-button {
  position: absolute;
  /* width: 500px; */
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 300px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0px;
  gap: 0 15px;
}
.filmDetail-play {
  pointer-events: none;
  background: #373A6D;
  border: transparent;
}
.filmDetail .button--trailer:focus, .filmDetail .button--trailer:hover {
  background: #f87c73;
}
.filmDetail-name {
  color: #ff9658;
  padding: 5px 0 0 0;
  margin: 0 0 5px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1666666667;
  max-width: 450px;
}
.filmDetail-originalName {
  font-size: 12px;
  color: #999;
  display: block;
  font-weight: 300;
}
.filmDetail-infor {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.filmDetail-status span {
  font-weight: 300;
  padding: 5px 10px;
  background: rgba(255, 130, 70, 0.5);
  border-radius: 5px;
  font-weight: bold;
}

.modal-trailer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: #000;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
