@import url("https://fonts.googleapis.com/css2?family=Enriqueta&family=Inter:wght@300;400;500;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: white !important;
}

strong {
  font-weight: bold !important;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1240px !important;
  margin: 0 auto;
  position: relative;
}

body {
  background: #1a1a1a !important;
  font-weight: 400;
  width: 100%;
  color: white !important;
  font-family: "Inter", sans-serif;
}

.button {
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 10px;
  margin: 0 5px;
  border-radius: 0;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.error {
  display: block;
  font-size: 11px;
  margin: 3px 15px;
  color: #ff9658;
}

.form-group {
  margin-bottom: 5px !important;
}

label {
  font-weight: 500;
}

.position {
  position: absolute;
  z-index: 15;
  top: 50%;
  bottom: 50%;
}

.fs-25 {
  font-size: 25px;
}

.left-15 {
  left: 15px;
}

.right-20 {
  right: 20px;
}

.padding-0 {
  padding: 0;
}

.bg-green {
  background: rgba(75, 214, 98, 0.8);
}

.bg-brown {
  background: rgba(255, 130, 70, 0.5);
}

.header {
  width: 100%;
  color: white;
}
.header-top {
  background: #333;
  height: 80px;
}
.header-nav {
  background: #2d2d2d;
  height: 55px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header-auth-work {
  display: flex !important;
  flex-direction: row;
}
.header-right {
  display: flex;
  gap: 0 30px;
  justify-content: space-between;
  align-items: center;
}
.header-account {
  margin: 0 0 0 30px;
}
.header-account-name img {
  border: 2px solid #da966e;
  border-radius: 50px;
  margin-right: 5px;
  background: white;
  padding: 3px;
}
.header-bookmark {
  margin: auto;
}
.header .form__group {
  padding: 16px 0;
  width: 50%;
}
.header .search-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 15px;
  color: white;
  padding: 7px 10px;
  background: transparent;
  transition: border-color 0.2s;
}
.header .search-input::placeholder {
  color: transparent;
  font-size: 16px;
}
.header .search-input:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}
.header .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
  padding-left: 15px;
}
.header-name {
  position: relative;
  display: flex;
  gap: 15px;
}
.header-name .dropdown-menu {
  position: absolute;
  width: 148px;
  height: 90px;
  background: white;
  color: black;
  top: 0;
}
.header-name .dropdown-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-name:hover .dropdown-menu {
  display: block;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-genres {
  display: none;
  background: black;
  position: absolute;
  flex-direction: column;
  z-index: 10000;
  gap: 30px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.2) -16px -20px 16px 0px;
  z-index: 1000;
  background: #2e2c2c;
  padding: 20px;
}
.header-nav-genres--movie_list, .header-nav-genres--tv_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.header-nav-genres--movie_list span, .header-nav-genres--tv_list span {
  grid-column: 1/6;
}
.header-nav-genres--movie_item, .header-nav-genres--tv_item {
  font-size: 15px;
}
.header-nav-item:hover .header-nav-genres {
  display: block;
  color: #da966e;
}
.header-nav-item:hover .header-nav-genres a {
  width: 100%;
}
.header-nav-container {
  margin: 15px;
  font-size: 18px;
}
.header-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-nav-title {
  font-weight: bold;
}
@media screen and (max-width: 374.98px) {
  .header-logo img {
    display: none;
  }
}
.filmBanner-list {
  margin-left: -32px;
  margin-top: 40px;
}
.filmBanner-name {
  margin: 5px 0;
  color: #da966e;
}
.filmBanner .slick-prev,
.filmBanner .slick-next {
  display: none !important;
}
.filmBanner .slick-active button {
  background: #da966e;
}
.filmBanner .slick-dots {
  display: flex;
  display: flex;
  gap: 0 20px;
  justify-content: center;
  margin-top: 35px;
}
.filmBanner .slick-dots li > button {
  color: transparent;
  width: 5px;
  height: 5px;
  border: 0;
  border-radius: 50px;
}
.filmBanner .slider {
  max-width: 1110px;
  margin: 0 auto;
}
.filmBanner .slick-track {
  padding-top: 53px;
  padding-bottom: 53px;
}
.filmBanner .slick-slide {
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: transparent;
}
.filmBanner .slick-slide:not(.slick-current) {
  filter: brightness(0.5);
}
.filmBanner .slick-slide.slick-current {
  transform: scale(1.35);
  position: relative;
  z-index: 1;
}
.filmBanner .slick-slide img {
  width: 100%;
}

.film-main-container {
  display: grid;
  grid-template-columns: minmax(20px, auto) 280px;
}
.film-main .filmUpdate .film-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 160px;
}
.film-main .filmUpdate .film-item img {
  width: 160px;
  height: 227px;
}
.film-main .filmUpdate .film-item:hover img {
  transform: scale(1.3);
}
.film-main .filmUpdate .film-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px) 20%;
  gap: 20px 0;
  padding: 0 40px;
}
.film-main .filmUpdate-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
}
.film-main .filmUpdate-name {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  z-index: 1;
  color: white;
  bottom: -8px;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 13px;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
.film-main .filmTrend-item {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}
.film-main .filmTrend-infor {
  display: flex;
  flex-direction: column;
}
.film-main .filmTrend-image img {
  width: 75px;
  height: 87px;
}
.film-main .filmTrend-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
}
.film-main .filmTrend-name {
  color: white;
  font-size: 13px;
}
.film-main .filmTrend-tv, .film-main .filmTrend-movie {
  color: white;
  font-size: 12px;
  width: 80px;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.5);
}
.film-main .filmTrend-tv {
  background: rgba(0, 128, 0, 0.5);
}
.film-main .filmTrend-popularity, .film-main .filmTrend-vote {
  color: white;
  font-size: 12px;
  font-weight: 200;
}

@media screen and (max-width: 991px) {
  .film-main-container {
    text-align: center;
    display: grid;
    grid-template-columns: minmax(20px, auto);
  }
  .film-main-container .filmUpdate .film-list {
    padding: 0;
    gap: 10px;
  }
  .film-main-container .filmTrend-container {
    display: none;
  }
}
.film-main-details-container {
  display: grid;
  grid-template-columns: 850px 280px;
  gap: 0 10px;
  position: relative;
}

.filmDetail {
  margin: 40px 10px;
  display: grid;
  grid-template-rows: 555px;
}
.filmDetail-container {
  display: flex;
  height: 450px;
  position: relative;
  gap: 25px;
}
.filmDetail-image img {
  height: 450px;
  width: 300px;
  object-fit: contain;
}
.filmDetail-button {
  position: absolute;
  /* width: 500px; */
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 300px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0px;
  gap: 0 15px;
}
.filmDetail-play {
  background: #373A6D;
  border: transparent;
  border-radius: 5px;
  font-weight: bold;
}
.filmDetail .button--trailer {
  border-radius: 5px;
  font-weight: bold;
}
.filmDetail .button--trailer:focus, .filmDetail .button--trailer:hover {
  background: #f87c73;
}
.filmDetail-name {
  color: #ff9658;
  padding: 5px 0 0 0;
  margin: 0 0 5px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.1666666667;
  max-width: 450px;
}
.filmDetail-originalName {
  font-size: 12px;
  color: #999;
  display: block;
  font-weight: 300;
}
.filmDetail-infor {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.filmDetail-status {
  font-size: 18px;
  font-weight: bold;
}
.filmDetail-status span {
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;
}
.filmDetail-genres, .filmDetail-productioncountry, .filmDetail-date, .filmDetail-vote, .filmDetail-votecount, .filmDetail-review {
  font-size: 18px;
  font-weight: bold;
}
.filmDetail-genres span, .filmDetail-productioncountry span, .filmDetail-date span, .filmDetail-vote span, .filmDetail-votecount span, .filmDetail-review span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2857142857;
}

.modal-trailer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: #000;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px 20px 20px;
  border: 1px solid #888;
  width: 900px;
  height: 550px;
  text-align: center;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.auth {
  height: 100vh;
  margin-right: 0px !important;
  margin-right: 0px !important;
}
.auth a {
  color: black !important;
}
.auth .row {
  padding: 0 !important;
}
.auth .sidenav {
  position: relative;
}
.auth .main {
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.auth .btn-auth {
  display: flex;
  gap: 0 15px;
  margin: 15px 0px;
}
.auth .btnLogin,
.auth .btnSigup {
  padding: 10px 0;
}
.auth .btnLogin {
  border-bottom: 1px solid black;
}
.auth .marverl {
  max-width: 468px;
  position: absolute;
  left: 0;
}
.auth .logo {
  position: absolute;
  transform: translate(-54px, 38px);
  right: 0;
}
.auth .animation-spiderman {
  position: absolute;
  top: 0;
  right: 15px;
}
.auth .animation-spiderman img {
  width: 100px;
}
.auth .login-form form,
.auth .register-form form {
  padding: 20px 10px;
}
.auth .login-form .login-title,
.auth .register-form .login-title {
  font-size: 30px;
  font-weight: bold;
}
.auth .login-form .login-content,
.auth .register-form .login-content {
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 20px;
}
.auth .login-form .register-page,
.auth .register-form .register-page {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.auth .login-form .register-page a,
.auth .register-form .register-page a {
  font-weight: bold;
}

.error-username,
.error-password,
.error-email,
.error-fullname,
.error-phone,
.error-confirmPassword {
  display: block;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

#btnLogin,
#btnRegister {
  margin-top: 10px;
  width: 100%;
  background: #ff9658 !important;
  color: white;
  font-weight: bold;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 200px;
  right: 0;
  background: #2d2d2d;
  padding: 20px;
}
.dropdown-content > div:not(:last-child) {
  margin-bottom: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.tv {
  cursor: pointer;
}
.tv-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
  font-weight: bold;
}
.tv-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.tv-item {
  width: 240px;
  position: relative;
}
.tv-item:nth-child(1) {
  width: 500px;
  grid-column: 1/3;
  grid-row: 1/3;
  margin: auto;
}
.tv-item:nth-child(1) img {
  max-width: 500px;
}
.tv-item img {
  max-width: 240px;
  object-fit: cover;
}
.tv-item-name {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  background: rgba(0, 0, 0, 0.5);
}
.tv-item-none {
  display: none;
}

@media screen and (max-width: 991px) {
  .tv-list {
    justify-content: center;
  }
  .tv-item:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .tv-list {
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: flex-start;
  }
  .tv-item {
    width: 150px;
  }
  .tv-item img {
    width: 150px;
  }
}
.footer {
  background: #2d2d2d;
  padding: 30px 0 60px;
  color: white;
}
.footer-container {
  display: grid;
  gap: 50px;
}
.footer-logo {
  margin: auto;
}
.footer-content {
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 150px);
}
.footer .phim-moi,
.footer .phim-hay,
.footer .phim-hot,
.footer .help,
.footer .infor {
  text-align: start;
}
.footer .phim-moi-list,
.footer .phim-hay-list,
.footer .phim-hot-list,
.footer .help-list,
.footer .infor-list {
  padding: 0;
}
.footer .phim-moi-item,
.footer .phim-hay-item,
.footer .phim-hot-item,
.footer .help-item,
.footer .infor-item {
  margin-top: 10px;
  text-align: start;
}
.footer .phim-moi-item a,
.footer .phim-hay-item a,
.footer .phim-hot-item a,
.footer .help-item a,
.footer .infor-item a {
  color: rgba(132, 132, 132, 0.8) !important;
  font-weight: 400;
}
.footer .phim-moi-title,
.footer .phim-hay-title,
.footer .phim-hot-title,
.footer .help-title,
.footer .infor-title {
  font-weight: bold;
}
.footer-logo {
  color: rgba(132, 132, 132, 0.8) !important;
  font-weight: 400;
  font-size: 13px;
  grid-column: 1/3;
}
.footer-logo .author {
  margin-top: 10px;
}

.filmSuggest {
  grid-column: 1/4;
}
.filmSuggest-list {
  width: 1190px;
  height: 225px;
}

.filmSuggest-item {
  width: 170px !important;
}
.filmSuggest-item img {
  width: 160px;
}
.filmSuggest-item .slick-slider .slick-list {
  height: auto;
  padding: 0 !important;
}
.filmSuggest-item .slick-track {
  display: flex !important;
  gap: 26px;
}
.filmSuggest-item .slick-prev,
.filmSuggest-item .slick-next {
  position: absolute !important;
}

.filmCast-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 185px);
  gap: 15px;
  text-align: center;
}
.filmCast-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
  margin-bottom: 15px;
}
.filmCast-item {
  background: white;
  box-shadow: 12px 13px 8px rgba(239, 234, 234, 0.22);
  border-radius: 10px;
}
.filmCast-originalName {
  margin-top: 20px;
  font-size: 19px;
  font-weight: bold;
  color: #000;
}
.filmCast-character {
  color: #999;
  font-size: 15px;
}
.filmCast-image img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
}

.upcoming {
  cursor: pointer;
}
.upcoming-title {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
  font-weight: bold;
}
.upcoming-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
}
.upcoming-item {
  position: relative;
}
.upcoming-item img {
  object-fit: cover;
}
.upcoming-item-name {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  background: rgba(0, 0, 0, 0.5);
}
.upcoming-release {
  position: absolute;
  background: rgba(22, 146, 53, 0.8);
  top: 0;
  padding: 10px;
  border-radius: 0 50px 50px 0;
  font-weight: bold;
  box-shadow: 0px 8px 7px -2px rgba(22, 146, 53, 0.45);
}
.upcoming-item-none {
  display: none;
}

.film-full-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 20px;
}
.film-full .filmStore-item {
  border: 1px solid #da966e;
  margin-bottom: 25px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(218, 150, 110, 0.8);
}
.film-full .filmStore-item a {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.film-full .filmStore-info {
  padding: 20px;
}
.film-full .filmStore-name {
  font-size: 21px;
  margin-bottom: 3px;
  font-weight: bold;
}
.film-full .filmStore-image img {
  width: 150px;
  height: 225px;
  object-fit: cover;
}
.film-full .filmStore-release {
  font-size: 16px;
  font-weight: 300;
  color: #999;
}
.film-full .filmStore-review {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-top: 25px;
}

.filmColection {
  grid-column: 1/4;
  max-width: 100%;
}
.filmColection-container {
  position: relative;
}
.filmColection-image {
  margin-top: 100px;
}
.filmColection-image img {
  width: 100%;
  height: 387px;
  object-fit: cover;
  object-position: center;
  border-radius: 40px;
  filter: brightness(0.7);
}
.filmColection-name {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  height: 80%;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}
.filmColection-name span {
  max-width: 600px;
  line-height: 1.2;
}
.filmColection-button {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  height: 100%;
  /* text-align: center; */
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
}
.filmColection-button a {
  width: 160px;
  text-align: center;
  background: rgba(255, 150, 88, 0.8);
  padding: 10px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  box-shadow: 12px 13px 8px rgba(239, 234, 234, 0.22);
  font-weight: bold;
  border-radius: 5px;
  margin-top: 235px;
}
.filmColection-button a:hover {
  background: #ff9658;
}
.filmColection-poster {
  position: absolute;
  top: 0;
}
.filmColection-poster img {
  width: 200px;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 10px gray);
  margin: 43px 50px;
}

.tvSeason {
  height: 100vh;
}
.tvSeason-header {
  position: relative;
  width: 100%;
  box-shadow: 3px 6px 1px rgba(0, 0, 0, 0.2);
}
.tvSeason-bg {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 680px;
  width: 100%;
  filter: brightness(0.2);
}
.tvSeason-child {
  display: flex;
  gap: 60px;
  margin: 0 150px;
  position: absolute;
  top: 18%;
}
.tvSeason-infor {
  max-width: 800px;
}
.tvSeason-image {
  filter: brightness(0.5);
  position: relative;
  width: 100%;
  height: 693px;
  object-fit: cover;
  object-position: center;
}
.tvSeason-name {
  font-size: 40px;
  font-weight: bold;
  padding: 15px 0;
}
.tvSeason-overview {
  font-size: 18px;
  line-height: 1.3888888889;
}
.tvSeason-poster img {
  border-radius: 10px;
  box-shadow: rgba(255, 203, 203, 0.22) 3px -5px 16px 17px;
  width: 300px;
}
.tvSeason-button {
  cursor: pointer;
  width: 160px;
  text-align: center;
  background: rgba(57, 157, 111, 0.5);
  padding: 10px;
  box-shadow: 6px 3px 8px rgba(239, 234, 234, 0.22);
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  position: absolute;
}
.tvSeason-button:hover {
  background: #399d6f;
}
.tvSeason-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 10px 20px;
  justify-content: center;
  margin-top: 50px;
}
.tvSeason-episode {
  position: relative;
}
.tvSeason-episode:nth-child(1) {
  margin: auto;
  grid-column: 1/5;
  margin-bottom: 30px;
}
.tvSeason-episode:nth-child(1) a {
  display: flex;
  gap: 25px;
}
.tvSeason-episode:nth-child(1) .tvSeason-episode--infor {
  width: 500px;
}
.tvSeason-episode:nth-child(1) .tvSeason-episode--image {
  width: 500px;
}
.tvSeason-episode:nth-child(1) .tvSeason-episode--image img {
  width: 100%;
}
.tvSeason-episode:nth-child(1) .tvSeason-episode--title {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
.tvSeason-episode:nth-child(1) .tvSeason-episode--overview {
  background: transparent;
  position: relative;
  opacity: 1;
  padding: 0;
}
.tvSeason-episode:nth-child(1) .tvSeason-episode--title {
  text-align: start;
}
.tvSeason-episode--title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin: 5px;
}
.tvSeason-episode--overview {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 8px;
  padding: 10px 20px;
  height: 160px;
  background: rgba(0, 0, 0, 0.7);
  transition: ease-in 0.4s;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.8;
}
.tvSeason-episode--image {
  box-shadow: rgba(181, 171, 171, 0.2) 4px 5px 6px 1px;
  width: 280px;
  border-radius: 8px;
}
.tvSeason-episode--image img {
  width: 100%;
  border-radius: 8px;
}
.tvSeason-episode:hover .tvSeason-episode--overview:not(:nth-child(1)) {
  opacity: 1;
}
.tvSeason-other {
  display: none;
}
.tvSeason-other--arrow {
  display: none-;
  font-size: 30px;
  text-align: center;
  animation: slide1 1s ease-in-out infinite;
  cursor: pointer;
}
.tvSeason-other--list {
  display: block;
  display: flex;
  gap: 45px;
}
.tvSeason-other--image {
  max-width: 200px;
  border-radius: 8px;
  cursor: pointer;
}
.tvSeason-other--image img {
  border-radius: 8px;
  max-width: 100%;
}
.tvSeason-other--previous {
  font-size: 25px;
  padding: 15px 6px;
  color: #da966e;
  margin-left: 20px;
  font-weight: bold;
}
.tvSeason-other--infor {
  text-align: center;
}

#main {
  display: none;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

@keyframes slide1 {
  0%, 100% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, 0px);
  }
}

/*# sourceMappingURL=style.css.map */
