.tv {
    &-title {
        font-size: 25px;
        padding: 15px 6px;
        color: #da966e;
        margin-left: 20px;
        font-weight: bold;
    }
    &-container {}

    &-list {
        display: grid;
        // grid-template-columns: ;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 20px ;
    }

    &-item {
        img {
            width: 250px;
            object-fit: cover;
        }
        &-name {
            color : white;
            text-align: center;
        }
    }

    &-item {
        &-none {
            display: none;
        }
    }
}