.tvSeason {
    &-header {
        position: relative;
        height: 100vh;
        width: 100%;
    
    }

    &-bg {
        position: relative;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 97px;
        height: 680px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, #0f0f0f, rgba(black, 0));
        }
    }

    &-child {
       display: flex;
       gap: 60px;
       margin: 0 50px;
       position: absolute;
    }
    &-infor {
       max-width: 800px;
    }
    &-image {
        filter: brightness(0.5);
        position: relative;
        width: 100%;
        height: 693px;
        object-fit: cover;
        object-position: center;


    }
    &-name {
        font-size: 40px;
        font-weight: bold;
        padding: 15px 0;
    }
    &-overview {
        font-size: 18px;
        line-height: calc(25/18) ;
    }
    &-poster {
        img {
            border-radius: 10px;
            box-shadow: rgb(255 203 203 / 22%) 3px -5px 16px 17px;
            width: 220px;
        }
    }
    &-button {
        a {
            cursor: pointer;
            width: 160px;
            text-align: center;
            background: rgba(255, 150, 88,0.8);
            padding: 10px;
            box-shadow: 6px 3px 8px rgb(239 234 234 / 22%);
            font-weight: bold;
            border-radius: 5px;
            margin-top: 20px;
            position: absolute;
            
            &:hover {
                background: rgba(255, 150, 88,1);
            }
        }
    }

}