.watchs-genres {

    &-list {
        display: grid;
        grid-template-columns: reapeat(auto-fit, 300px);
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 20px;
        justify-content: center;

    }
    
    &-title {
        font-size: 30px;
        font-weight: bold;
        margin: 30px;
    }

}